.NotFound
    &__title
        text-align center
        color #3e64ff
    &__button
        width max-content
        background-color #5edfff
        margin 1rem auto
        outline: 0
        border none 
        padding 0.5rem 1rem
        border-radius 12px
        color #ffffff
        transition all 0.3s
        &:hover
            transform scale(1.25)
            cursor pointer